__pycache__/
*.py[cod]

.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyamplicol-cache/

dependencies/.venv/
dependencies/wheels/
dependencies/symbolica/
dependencies/symbolica-community/
dependencies/gammaloop/
dependencies/xsimd/

TEMPORARY_JUST_FOR_REFERENCE/

.benchmarks/
outputs/

run.order
run.output
stop.order

docs/*.swp

.DS_Store
